folium==0.12.1.post1
geemap[extra]
geopandas
jupyter-server-proxy
keplergl
leafmap
localtileserver
nbserverproxy
owslib
palettable
plotly
streamlit
streamlit-bokeh-events
streamlit-folium
streamlit-keplergl
tropycal